project_id = "ijspllrfcjnbavttpejh"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[functions.generate-questions]
verify_jwt = false

[functions.generate-diagram]
verify_jwt = false

[functions.parse-pdf]
verify_jwt = false